.form-sign-in {
    button {
        margin-right: 5px;

        &:last-child  {
            margin-right: 0;
        }

        &.btn-sign-in {

            &--default {
            }

            &--google {
                background: transparent;
            }
        }
    }

}
