.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .shopping-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    .item-count {
        display: inline-block;
        position: absolute;
        left: calc(100% - 10px);
        top: -10px;
        padding: 4px 8px;
        border-radius: 500px;
        background-color: #000000;
        color: #ffffff;
        font-size: 12px;
        line-height: 1em;
    }
}
