.form-sign-up {
    form {
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    label {
        display: block;
        margin-bottom: 2px;
    }

    input {
        padding: 10px 15px;
        width: 100%;
    }

    button {
        padding: 10px 15px;

        & + button {
            margin-left: 5px;
        }
    }

    p {
        width: 100%;
    }
}
