@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
*:before,
*::after {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Custom
form {

}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

label {
    display: inline-block;
    margin-bottom: 2px;
}

input {
    padding: 10px 15px;
    width: 100%;
    border: 1px #cccccc solid;
}

button {
    padding: 12px 24px;
    border: 1px #cccccc solid;
    cursor: pointer;
}
